<form>
  <div>
    <input ng-model=" formData.income " type="text " class="form-control input-lg " placeholder="What's your annual salary? (e.g., $100,000)"
      ui-money-mask="0">
  </div>
  <br/>
  <div>
    <input ng-model="formData.age" type="text" class="form-control input-lg" placeholder="How old are you? (e.g., 34)">
  </div>
  <br/>
  <div>
    <ol title="How far did you get in school?" class="nya-bs-select btn-lg nya-dropdown form-control" data-live-search="true"
      ng-model="formData.education">
      <li class="nya-bs-option" value="Less than high school graduate"><a>Less than high school graduate</a></li>
      <li class="nya-bs-option" value="High school graduate (includes equivalency"><a>High school graduate (includes equivalency</a></li>
      <li class="nya-bs-option" value="Some college or associate degree"><a>Some college or associate degree</a></li>
      <li class="nya-bs-option" value="Bachelor degree"><a>Bachelor degree</a></li>
      <li class="nya-bs-option" value="Graduate or professional degree"><a>Graduate or professional degree</a></li>
      </ol>
  </div>
  <br/>
  <br/>
  <div>
    <ol title="Where do you live?" id="dynamic-options" class="nya-bs-select btn-lg nya-dropdown form-control" data-live-search="true"
      ng-model="formData.county">
      <li nya-bs-option="option in countyData">
        <a>{{ option }}</a>
      </li>
      </ol>
  </div>
  <br/>
  <br/>
  <div>
    <ol title="What is your gender (optional)?" class="nya-bs-select btn-lg nya-dropdown form-control" data-live-search="true"
      ng-model="formData.gender">
      <li class="nya-bs-option" value="female"><a>Female</a></li>
      <li class="nya-bs-option" value="male"><a>Male</a></li>
      </ol>
  </div>
  <br/>
  <br/>
  <div>
    <ol title="What is your race (optional)?" class="nya-bs-select btn-lg nya-dropdown form-control" data-live-search="true"
      ng-model="formData.race">
      <li class="nya-bs-option" value="asian"><a>Asian</a></li>
      <li class="nya-bs-option" value="black"><a>Black</a></li>
      <li class="nya-bs-option" value="hispanic"><a>Hispanic</a></li>
      <li class="nya-bs-option" value="White"><a>White</a></li>
      </ol>
  </div>
  <br/>
  <br/>
  <div>
    <a href="#results">
      <button type="button" class="btn btn-lg btn-primary centerImages" ng-click="getCommerceData()">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>Find out how you compare to people like you...</button>
    </a>
  </div>
</form>