select {
    width:100%;
    color:red;
    font-size: 4em;
}

div{
  border: 1px red solid;
}

span {
  width: 100px;
  max-width: 100%;
}


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: green;
}
